<!doctype html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> About 챠니 </title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'blog/navbar.html' %}

    <section>

        <div class="container mt-4">
            <div class="row">
               <div class="col-lg-8">
                   <h1>안녕하세요. 챠니입니다.</h1>
                   <br/>
                   <p class="lead">
                       JavaScript, Python 같은 스크립트 언어에 관심이 많습니다.<br/>
                       자동화 스크립트 짜는것을 좋아합니다.

                   </p>
                   <ul>
                       <small class="text-muted">
                       <li>내 코딩인생</li>
                       <ul>

                           <li>어릴적부터 게임에서 핵 쓰거나, 프리(사설)서버 구축하고 놈. </li>
                           <li>garry's mod 에서 express2 로 코딩에 입문, 적성을 찾게됨.</li>
                           <li>컴퓨터 공학과에 입학해서 즐겁게 프로그래밍 및 전공을 배움.</li>
                           <li>garry's mod 에서 luascript를 본격적으로 시작. 그동안 망상했던 것들을 열심히 코딩으로 구현해봄. </li>
                           <li>대학교 졸업후, 취업준비 겸 여러가지 관심 있던것들을 공부중.</li>

                       </ul>

                       </small>

                   </ul>
                   <a role="button" href="https://blog.naver.com/cksgnl74" class="btn btn-light"><i class="fas fa-external-link-square-alt"></i> 네이버블로그 </a>
               </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="{% static 'single_pages/images/me.jpg' %}" />
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light margin-for-footer">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>PORTFOLIO</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#port1">
                        <img class="card-img-top" src="{% static 'single_pages/images/port1.png' %}"  />
                        <div class="card-body">
                            <h5 class="card-title">IF -건국대학교(글로컬)</h5>
                            <p><small class="text-muted">[ Nodejs(express), Android(java) , Ios(swift) ]</small><br/><br/>모교 학생들만 쓸수 있는 채팅 앱입니다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#port2">
                        <img class="card-img-top" src="{% static 'single_pages/images/port2.png' %}"  />
                        <div class="card-body">
                            <h5 class="card-title">카카오톡 프로필 조회</h5>
                            <p><small class="text-muted">[ <img src="https://img.shields.io/badge/기술이름-#제외색상번호?style=for-the-badge&logo=아이콘이름&logoColor=white">
                                , python ]</small><br/><br/>카톡 프로필을 웹을 통해서 볼 수 있습니다.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="port1" tabindex="-1" role="dialog" aria-labelledby="pycon2017ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pycon2017ModalLabel">IF -건국대학교(글로컬) 전용 채팅앱</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'single_pages/images/port1.png' %}">
                        </div>
                        <div class="col-lg-5">
                            <p >건국대학교(글로컬) 학생들만 사용 할 수 있는 채팅 앱입니다. 처음에는 익명으로 시작하지만, 친해지고 나서 서로 동의하에 프로필사진이나 학생정보에 대해서 공유 할 수 있습니다. 가입시, 학교포탈에서 정보를 받아오기 때문에 사칭이나 거짓말이 불가능합니다.
                                <br/> <p class="font-weight-bold">현재는 서비스 종료!</p></p>
                            <a role="button" href="https://drive.google.com/file/d/1gAdLUIy8rj3AHyH9_py_GmxT1qf_2w0F/view?usp=sharing" class="btn btn-light"><i class="fas fa-file-pdf"> IF.pdf</i></a>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="port2" tabindex="-1" role="dialog" aria-labelledby="inflearnDjangoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id=" inflearnDjangoModalLabel">카카오톡 프로필 조회</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'single_pages/images/port2.png' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>친구에게 프로필 차단을 당했거나, 멀티 프로필이 아닌 기본 프로필이 궁금하다면 이용하세요!</p>
                            <p class="font-weight-bold">장난으로 만들었지만 일일 평균 이용자 2000명이라서 서비스 유지중...</p>
                            <a role="button" href="http://kakao.chanwhi.r-e.kr/" class="btn btn-light"><i class="fas fa-external-link-square-alt"></i> 접속 </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>








    <div class="fixed-bottom">
    {%  include 'blog/footer.html' %}

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>


</html>